<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulations</key>
	<array>
		<dict>
			<key>ArticulationID</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1001</integer>
			<key>Name</key>
			<string>IDLE</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>2</integer>
			<key>ID</key>
			<integer>1002</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>110</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1003</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>111</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>4</integer>
			<key>ID</key>
			<integer>1004</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>112</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>5</integer>
			<key>ID</key>
			<integer>1005</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>113</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>6</integer>
			<key>ID</key>
			<integer>1006</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>114</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>7</integer>
			<key>ID</key>
			<integer>1007</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>115</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>8</integer>
			<key>ID</key>
			<integer>1008</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>116</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>9</integer>
			<key>ID</key>
			<integer>1009</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>117</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>10</integer>
			<key>ID</key>
			<integer>1010</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>118</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>11</integer>
			<key>ID</key>
			<integer>1011</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>119</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>12</integer>
			<key>ID</key>
			<integer>1012</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>120</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>13</integer>
			<key>ID</key>
			<integer>1013</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>121</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>14</integer>
			<key>ID</key>
			<integer>1014</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>122</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>15</integer>
			<key>ID</key>
			<integer>1015</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>123</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>16</integer>
			<key>ID</key>
			<integer>1016</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>124</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>17</integer>
			<key>ID</key>
			<integer>1017</integer>
			<key>Name</key>
			<string>Nose and FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>125</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>Name</key>
	<string>FX.plist</string>
</dict>
</plist>
