<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulations</key>
	<array>
		<dict>
			<key>ArticulationID</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1001</integer>
			<key>Name</key>
			<string>IDLE</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>2</integer>
			<key>ID</key>
			<integer>1002</integer>
			<key>Name</key>
			<string>Stop(Vel:100)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>33</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1003</integer>
			<key>Name</key>
			<string>Stop(Vel:50)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>33</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>50</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>4</integer>
			<key>ID</key>
			<integer>1004</integer>
			<key>Name</key>
			<string>Stop(Vel:25)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>33</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>25</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>5</integer>
			<key>ID</key>
			<integer>1005</integer>
			<key>Name</key>
			<string>Stop(Noise Vel:100)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>32</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>6</integer>
			<key>ID</key>
			<integer>1006</integer>
			<key>Name</key>
			<string>Stop(Noise Vel:50)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>32</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>50</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>7</integer>
			<key>ID</key>
			<integer>1007</integer>
			<key>Name</key>
			<string>Stop(Noise Vel:25)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>32</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>25</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>8</integer>
			<key>ID</key>
			<integer>1008</integer>
			<key>Name</key>
			<string>Repeat/Tremolo</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>0</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>9</integer>
			<key>ID</key>
			<integer>1009</integer>
			<key>Name</key>
			<string>Power Code</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>28</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>10</integer>
			<key>ID</key>
			<integer>1010</integer>
			<key>Name</key>
			<string>sus4 Realtime</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>27</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>11</integer>
			<key>ID</key>
			<integer>1011</integer>
			<key>Name</key>
			<string>add9</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>26</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>12</integer>
			<key>ID</key>
			<integer>1012</integer>
			<key>Name</key>
			<string>Picking Tremolo</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>25</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>13</integer>
			<key>ID</key>
			<integer>1013</integer>
			<key>Name</key>
			<string>Octave</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>24</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>14</integer>
			<key>ID</key>
			<integer>1014</integer>
			<key>Name</key>
			<string>Trill (whole step)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>23</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>15</integer>
			<key>ID</key>
			<integer>1015</integer>
			<key>Name</key>
			<string>Trill (half step)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>22</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>16</integer>
			<key>ID</key>
			<integer>1016</integer>
			<key>Name</key>
			<string>6th-dyad chord</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>21</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>17</integer>
			<key>ID</key>
			<integer>1017</integer>
			<key>Name</key>
			<string>#5th-dyad chord</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>20</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>18</integer>
			<key>ID</key>
			<integer>1018</integer>
			<key>Name</key>
			<string>5th-dyad chord</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>19</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>19</integer>
			<key>ID</key>
			<integer>1019</integer>
			<key>Name</key>
			<string>Flat 5th-dyad chord</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>18</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>20</integer>
			<key>ID</key>
			<integer>1020</integer>
			<key>Name</key>
			<string>4th-dyad chord</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>17</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>21</integer>
			<key>ID</key>
			<integer>1021</integer>
			<key>Name</key>
			<string>Major- 3rd-dyad chord</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>16</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>22</integer>
			<key>ID</key>
			<integer>1022</integer>
			<key>Name</key>
			<string>Minor 3rd-dyad chord</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>15</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>23</integer>
			<key>ID</key>
			<integer>1023</integer>
			<key>Name</key>
			<string>Single no legato</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>14</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>24</integer>
			<key>ID</key>
			<integer>1024</integer>
			<key>Name</key>
			<string><![CDATA[Single(Ham&Prn)]]></string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>13</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>25</integer>
			<key>ID</key>
			<integer>1025</integer>
			<key>Name</key>
			<string>Single note(Legato)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>12</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>26</integer>
			<key>ID</key>
			<integer>1026</integer>
			<key>Name</key>
			<string>Unison bend</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>11</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>27</integer>
			<key>ID</key>
			<integer>1027</integer>
			<key>Name</key>
			<string>Double bend</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>10</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>28</integer>
			<key>ID</key>
			<integer>1028</integer>
			<key>Name</key>
			<string>Other chords (‘Rush chords’)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>9</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>29</integer>
			<key>ID</key>
			<integer>1029</integer>
			<key>Name</key>
			<string>Major 3rd vibrato</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>8</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>30</integer>
			<key>ID</key>
			<integer>1030</integer>
			<key>Name</key>
			<string>Natural harmonics</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>7</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>31</integer>
			<key>ID</key>
			<integer>1031</integer>
			<key>Name</key>
			<string>FX1 - scrape, slides, noises</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>6</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>32</integer>
			<key>ID</key>
			<integer>1032</integer>
			<key>Name</key>
			<string>FX2 - whammy bar</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>5</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>33</integer>
			<key>ID</key>
			<integer>1033</integer>
			<key>Name</key>
			<string>FX3 - whammy bar</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>4</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>34</integer>
			<key>ID</key>
			<integer>1034</integer>
			<key>Name</key>
			<string>FX4 - whammy bar</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>3</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>Name</key>
	<string>Lite.plist</string>
</dict>
</plist>
