*.db filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.xlsm filter=lfs diff=lfs merge=lfs -text
KeySwitches.db !text !filter !merge !diff
_Database/KeySwitches.db !text !filter !merge !diff
