*                       text=auto eol=lf
*.yaml                  text eol=lf
*.yml                   text eol=lf
*.{bat,[bB][aA][tT]}    text eol=crlf working-tree-encoding=cp932
*.{cmd,[cC][mM][dD]}    text eol=crlf working-tree-encoding=cp932
*.sh                    text eol=lf
*.ps1                   text eol=lf
