<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulations</key>
	<array>
		<dict>
			<key>ArticulationID</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1001</integer>
			<key>Name</key>
			<string>IDLE</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>2</integer>
			<key>ID</key>
			<integer>1002</integer>
			<key>Name</key>
			<string>Rhythm 1</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>60</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1003</integer>
			<key>Name</key>
			<string>Rhythm 2</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>61</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>4</integer>
			<key>ID</key>
			<integer>1004</integer>
			<key>Name</key>
			<string>Rhythm 3</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>62</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>5</integer>
			<key>ID</key>
			<integer>1005</integer>
			<key>Name</key>
			<string>Rhythm 4</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>63</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>6</integer>
			<key>ID</key>
			<integer>1006</integer>
			<key>Name</key>
			<string>Rhythm 5</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>64</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>7</integer>
			<key>ID</key>
			<integer>1007</integer>
			<key>Name</key>
			<string>Rhythm 6</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>65</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>8</integer>
			<key>ID</key>
			<integer>1008</integer>
			<key>Name</key>
			<string>Rhythm 7</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>66</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>9</integer>
			<key>ID</key>
			<integer>1009</integer>
			<key>Name</key>
			<string>Rhythm 8</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>67</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>10</integer>
			<key>ID</key>
			<integer>1010</integer>
			<key>Name</key>
			<string>Rhythm 9</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>68</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>11</integer>
			<key>ID</key>
			<integer>1011</integer>
			<key>Name</key>
			<string>Rhythm 10</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>69</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>12</integer>
			<key>ID</key>
			<integer>1012</integer>
			<key>Name</key>
			<string>Rhythm 11</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>70</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>13</integer>
			<key>ID</key>
			<integer>1013</integer>
			<key>Name</key>
			<string>Rhythm 12</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>71</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>14</integer>
			<key>ID</key>
			<integer>1014</integer>
			<key>Name</key>
			<string>Rhythm 13</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>72</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>15</integer>
			<key>ID</key>
			<integer>1015</integer>
			<key>Name</key>
			<string>Rhythm 14</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>73</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>16</integer>
			<key>ID</key>
			<integer>1016</integer>
			<key>Name</key>
			<string>Rhythm 15</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>74</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>17</integer>
			<key>ID</key>
			<integer>1017</integer>
			<key>Name</key>
			<string>Rhythm 16</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>75</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>18</integer>
			<key>ID</key>
			<integer>1018</integer>
			<key>Name</key>
			<string>Rhythm 17</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>76</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>19</integer>
			<key>ID</key>
			<integer>1019</integer>
			<key>Name</key>
			<string>Rhythm 18</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>77</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>20</integer>
			<key>ID</key>
			<integer>1020</integer>
			<key>Name</key>
			<string>Rhythm 19</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>78</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>21</integer>
			<key>ID</key>
			<integer>1021</integer>
			<key>Name</key>
			<string>Rhythm 20</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>79</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>22</integer>
			<key>ID</key>
			<integer>1022</integer>
			<key>Name</key>
			<string>Rhythm 21</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>80</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>23</integer>
			<key>ID</key>
			<integer>1023</integer>
			<key>Name</key>
			<string>Rhythm 22</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>81</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>24</integer>
			<key>ID</key>
			<integer>1024</integer>
			<key>Name</key>
			<string>Rhythm 23</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>82</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>25</integer>
			<key>ID</key>
			<integer>1025</integer>
			<key>Name</key>
			<string>Rhythm 24</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>83</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>26</integer>
			<key>ID</key>
			<integer>1026</integer>
			<key>Name</key>
			<string>Rhythm 25</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>84</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>27</integer>
			<key>ID</key>
			<integer>1027</integer>
			<key>Name</key>
			<string>Rhythm 26</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>85</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>28</integer>
			<key>ID</key>
			<integer>1028</integer>
			<key>Name</key>
			<string>Rhythm 27</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>86</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>29</integer>
			<key>ID</key>
			<integer>1029</integer>
			<key>Name</key>
			<string>Rhythm 28</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>87</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>30</integer>
			<key>ID</key>
			<integer>1030</integer>
			<key>Name</key>
			<string>Rhythm 29</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>88</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>31</integer>
			<key>ID</key>
			<integer>1031</integer>
			<key>Name</key>
			<string>Rhythm 30</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>89</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>32</integer>
			<key>ID</key>
			<integer>1032</integer>
			<key>Name</key>
			<string>Rhythm 31</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>90</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>Name</key>
	<string>4-4.plist</string>
</dict>
</plist>
