<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulations</key>
	<array>
		<dict>
			<key>ArticulationID</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1001</integer>
			<key>Name</key>
			<string>IDLE</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>2</integer>
			<key>ID</key>
			<integer>1002</integer>
			<key>Name</key>
			<string>AG</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>82</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1003</integer>
			<key>Name</key>
			<string>CRE</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>83</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>4</integer>
			<key>ID</key>
			<integer>1004</integer>
			<key>Name</key>
			<string>CRU</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>84</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>5</integer>
			<key>ID</key>
			<integer>1005</integer>
			<key>Name</key>
			<string>DO</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>85</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>6</integer>
			<key>ID</key>
			<integer>1006</integer>
			<key>Name</key>
			<string>FAH</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>86</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>7</integer>
			<key>ID</key>
			<integer>1007</integer>
			<key>Name</key>
			<string>FIS</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>87</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>8</integer>
			<key>ID</key>
			<integer>1008</integer>
			<key>Name</key>
			<string>GLO</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>88</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>9</integer>
			<key>ID</key>
			<integer>1009</integer>
			<key>Name</key>
			<string>KY</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>89</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>10</integer>
			<key>ID</key>
			<integer>1010</integer>
			<key>Name</key>
			<string>MUS</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>90</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>11</integer>
			<key>ID</key>
			<integer>1011</integer>
			<key>Name</key>
			<string>NIS</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>91</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>12</integer>
			<key>ID</key>
			<integer>1012</integer>
			<key>Name</key>
			<string>NUS</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>92</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>13</integer>
			<key>ID</key>
			<integer>1013</integer>
			<key>Name</key>
			<string>RHI</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>93</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>14</integer>
			<key>ID</key>
			<integer>1014</integer>
			<key>Name</key>
			<string>SANG</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>94</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>15</integer>
			<key>ID</key>
			<integer>1015</integer>
			<key>Name</key>
			<string>SIN</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>95</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>16</integer>
			<key>ID</key>
			<integer>1016</integer>
			<key>Name</key>
			<string>SON</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>96</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>17</integer>
			<key>ID</key>
			<integer>1017</integer>
			<key>Name</key>
			<string>TUS</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>97</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>18</integer>
			<key>ID</key>
			<integer>1018</integer>
			<key>Name</key>
			<string>(Blank)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>98</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>Name</key>
	<string>Phrase Builder.plist</string>
</dict>
</plist>
