<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulations</key>
	<array>
		<dict>
			<key>ArticulationID</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1001</integer>
			<key>Name</key>
			<string>##### single note</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>2</integer>
			<key>ID</key>
			<integer>1002</integer>
			<key>Name</key>
			<string>legato slide</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1003</integer>
			<key>Name</key>
			<string><![CDATA[hamm&pull/trill]]></string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>4</integer>
			<key>ID</key>
			<integer>1004</integer>
			<key>Name</key>
			<string>no legato</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>5</integer>
			<key>ID</key>
			<integer>1005</integer>
			<key>Name</key>
			<string>picking tremolo</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>6</integer>
			<key>ID</key>
			<integer>1006</integer>
			<key>Name</key>
			<string>whole step trill</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>7</integer>
			<key>ID</key>
			<integer>1007</integer>
			<key>Name</key>
			<string>half step trill</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>6</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>8</integer>
			<key>ID</key>
			<integer>1008</integer>
			<key>Name</key>
			<string>pick stop noise</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>9</integer>
			<key>ID</key>
			<integer>1009</integer>
			<key>Name</key>
			<string>half step bend</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>10</integer>
			<key>ID</key>
			<integer>1010</integer>
			<key>Name</key>
			<string>whole step bend</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>9</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>11</integer>
			<key>ID</key>
			<integer>1011</integer>
			<key>Name</key>
			<string>1.5 step bend</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>12</integer>
			<key>ID</key>
			<integer>1012</integer>
			<key>Name</key>
			<string>whole step bend + vibrato</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>13</integer>
			<key>ID</key>
			<integer>1013</integer>
			<key>Name</key>
			<string>##### 2-strings dyad chords</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>14</integer>
			<key>ID</key>
			<integer>1014</integer>
			<key>Name</key>
			<string>minor2nd</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>15</integer>
			<key>ID</key>
			<integer>1015</integer>
			<key>Name</key>
			<string>major2nd</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>16</integer>
			<key>ID</key>
			<integer>1016</integer>
			<key>Name</key>
			<string>minor3rd-dyad</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>17</integer>
			<key>ID</key>
			<integer>1017</integer>
			<key>Name</key>
			<string>major3rd-dyad</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>18</integer>
			<key>ID</key>
			<integer>1018</integer>
			<key>Name</key>
			<string>4th-dyad</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>19</integer>
			<key>ID</key>
			<integer>1019</integer>
			<key>Name</key>
			<string>flat5th-dyad</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>6</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>20</integer>
			<key>ID</key>
			<integer>1020</integer>
			<key>Name</key>
			<string>5th-dyad</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>21</integer>
			<key>ID</key>
			<integer>1021</integer>
			<key>Name</key>
			<string>#5th-dyad</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>22</integer>
			<key>ID</key>
			<integer>1022</integer>
			<key>Name</key>
			<string>6th-dyad</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>9</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>23</integer>
			<key>ID</key>
			<integer>1023</integer>
			<key>Name</key>
			<string>7th-dyad</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>24</integer>
			<key>ID</key>
			<integer>1024</integer>
			<key>Name</key>
			<string>maj7th-dyad</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>25</integer>
			<key>ID</key>
			<integer>1025</integer>
			<key>Name</key>
			<string>octave</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>12</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>26</integer>
			<key>ID</key>
			<integer>1026</integer>
			<key>Name</key>
			<string>##### chord</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>27</integer>
			<key>ID</key>
			<integer>1027</integer>
			<key>Name</key>
			<string>major</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>28</integer>
			<key>ID</key>
			<integer>1028</integer>
			<key>Name</key>
			<string>minor</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>29</integer>
			<key>ID</key>
			<integer>1029</integer>
			<key>Name</key>
			<string>7th</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>30</integer>
			<key>ID</key>
			<integer>1030</integer>
			<key>Name</key>
			<string>m7</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>31</integer>
			<key>ID</key>
			<integer>1031</integer>
			<key>Name</key>
			<string>maj7</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>32</integer>
			<key>ID</key>
			<integer>1032</integer>
			<key>Name</key>
			<string>9th</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>6</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>33</integer>
			<key>ID</key>
			<integer>1033</integer>
			<key>Name</key>
			<string>m7(9)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>34</integer>
			<key>ID</key>
			<integer>1034</integer>
			<key>Name</key>
			<string>maj9</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>35</integer>
			<key>ID</key>
			<integer>1035</integer>
			<key>Name</key>
			<string>add9</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>9</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>36</integer>
			<key>ID</key>
			<integer>1036</integer>
			<key>Name</key>
			<string>sus4</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>37</integer>
			<key>ID</key>
			<integer>1037</integer>
			<key>Name</key>
			<string>dim7</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>38</integer>
			<key>ID</key>
			<integer>1038</integer>
			<key>Name</key>
			<string>aug</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>12</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>39</integer>
			<key>ID</key>
			<integer>1039</integer>
			<key>Name</key>
			<string>rush</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>13</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>40</integer>
			<key>ID</key>
			<integer>1040</integer>
			<key>Name</key>
			<string>7th (flat5)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>14</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>41</integer>
			<key>ID</key>
			<integer>1041</integer>
			<key>Name</key>
			<string>m7 (flat5)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>15</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>42</integer>
			<key>ID</key>
			<integer>1042</integer>
			<key>Name</key>
			<string>7th (#5)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>16</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>43</integer>
			<key>ID</key>
			<integer>1043</integer>
			<key>Name</key>
			<string>6th</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>17</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>44</integer>
			<key>ID</key>
			<integer>1044</integer>
			<key>Name</key>
			<string>m6th</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>18</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>45</integer>
			<key>ID</key>
			<integer>1045</integer>
			<key>Name</key>
			<string>69th</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>19</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>46</integer>
			<key>ID</key>
			<integer>1046</integer>
			<key>Name</key>
			<string>m69th</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>20</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>47</integer>
			<key>ID</key>
			<integer>1047</integer>
			<key>Name</key>
			<string>mMaj7</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>21</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>48</integer>
			<key>ID</key>
			<integer>1048</integer>
			<key>Name</key>
			<string>flat9</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>22</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>49</integer>
			<key>ID</key>
			<integer>1049</integer>
			<key>Name</key>
			<string>sharp9</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>23</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>50</integer>
			<key>ID</key>
			<integer>1050</integer>
			<key>Name</key>
			<string>madd9</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>24</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>51</integer>
			<key>ID</key>
			<integer>1051</integer>
			<key>Name</key>
			<string>7sus4</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>25</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>52</integer>
			<key>ID</key>
			<integer>1052</integer>
			<key>Name</key>
			<string>dim</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>26</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>53</integer>
			<key>ID</key>
			<integer>1053</integer>
			<key>Name</key>
			<string>m7 (11)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>27</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>54</integer>
			<key>ID</key>
			<integer>1054</integer>
			<key>Name</key>
			<string>m9 (11)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>28</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>55</integer>
			<key>ID</key>
			<integer>1055</integer>
			<key>Name</key>
			<string>9th (#11)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>29</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>56</integer>
			<key>ID</key>
			<integer>1056</integer>
			<key>Name</key>
			<string>maj7 (#11)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>30</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>57</integer>
			<key>ID</key>
			<integer>1057</integer>
			<key>Name</key>
			<string>maj9 (#11)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>31</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>58</integer>
			<key>ID</key>
			<integer>1058</integer>
			<key>Name</key>
			<string>9sus4</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>32</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>59</integer>
			<key>ID</key>
			<integer>1059</integer>
			<key>Name</key>
			<string>power chord</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>33</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>60</integer>
			<key>ID</key>
			<integer>1060</integer>
			<key>Name</key>
			<string>power 9th</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>34</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>61</integer>
			<key>ID</key>
			<integer>1061</integer>
			<key>Name</key>
			<string>##### user chord</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>62</integer>
			<key>ID</key>
			<integer>1062</integer>
			<key>Name</key>
			<string>user chord 1</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>51</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>63</integer>
			<key>ID</key>
			<integer>1063</integer>
			<key>Name</key>
			<string>user chord 2</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>52</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>64</integer>
			<key>ID</key>
			<integer>1064</integer>
			<key>Name</key>
			<string>user chord 3</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>53</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>65</integer>
			<key>ID</key>
			<integer>1065</integer>
			<key>Name</key>
			<string>user chord 4</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>54</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>66</integer>
			<key>ID</key>
			<integer>1066</integer>
			<key>Name</key>
			<string>user chord 5</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>55</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>67</integer>
			<key>ID</key>
			<integer>1067</integer>
			<key>Name</key>
			<string>user chord 6</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>56</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>68</integer>
			<key>ID</key>
			<integer>1068</integer>
			<key>Name</key>
			<string>user chord 7</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>57</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>69</integer>
			<key>ID</key>
			<integer>1069</integer>
			<key>Name</key>
			<string>user chord 8</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>58</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>70</integer>
			<key>ID</key>
			<integer>1070</integer>
			<key>Name</key>
			<string>user chord 9</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>59</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>71</integer>
			<key>ID</key>
			<integer>1071</integer>
			<key>Name</key>
			<string>user chord 10</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>60</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>72</integer>
			<key>ID</key>
			<integer>1072</integer>
			<key>Name</key>
			<string>##### FX</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>73</integer>
			<key>ID</key>
			<integer>1073</integer>
			<key>Name</key>
			<string>unison bend</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>74</integer>
			<key>ID</key>
			<integer>1074</integer>
			<key>Name</key>
			<string>stationary bend</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>2</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>75</integer>
			<key>ID</key>
			<integer>1075</integer>
			<key>Name</key>
			<string>double bend</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>76</integer>
			<key>ID</key>
			<integer>1076</integer>
			<key>Name</key>
			<string>natural harmonics</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>4</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>77</integer>
			<key>ID</key>
			<integer>1077</integer>
			<key>Name</key>
			<string>moving harmonics</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>5</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>78</integer>
			<key>ID</key>
			<integer>1078</integer>
			<key>Name</key>
			<string>moving harmonics</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>6</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>79</integer>
			<key>ID</key>
			<integer>1079</integer>
			<key>Name</key>
			<string>moving harmonics</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>7</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>80</integer>
			<key>ID</key>
			<integer>1080</integer>
			<key>Name</key>
			<string>scrape</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>8</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>81</integer>
			<key>ID</key>
			<integer>1081</integer>
			<key>Name</key>
			<string>whammy bar</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>9</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>82</integer>
			<key>ID</key>
			<integer>1082</integer>
			<key>Name</key>
			<string>special FX</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>10</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>83</integer>
			<key>ID</key>
			<integer>1083</integer>
			<key>Name</key>
			<string>strum harmonics</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>11</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>84</integer>
			<key>ID</key>
			<integer>1084</integer>
			<key>Name</key>
			<string>major 3rd vibraro</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>12</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>85</integer>
			<key>ID</key>
			<integer>1085</integer>
			<key>Name</key>
			<string>major 3rd vibraro 2</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>3</integer>
				</dict>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Controller</string>
					<key>ValueLow</key>
					<integer>13</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>Switches</key>
	<array>
	</array>
	<key>MultipleOutputsActive</key>
	<true/>
	<key>Name</key>
	<string>Main.plist</string>
	<key>OctaveOffset</key>
	<integer>0</integer>
</dict>
</plist>
