<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulations</key>
	<array>
		<dict>
			<key>ArticulationID</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1001</integer>
			<key>Name</key>
			<string>Stop 2</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>2</integer>
			<key>ID</key>
			<integer>1002</integer>
			<key>Name</key>
			<string>Stop 1(Vel 1)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>44</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>1</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1003</integer>
			<key>Name</key>
			<string>Stop 1(Vel 16)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>44</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>16</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>4</integer>
			<key>ID</key>
			<integer>1004</integer>
			<key>Name</key>
			<string>Stop 1(Vel 32)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>44</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>32</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>5</integer>
			<key>ID</key>
			<integer>1005</integer>
			<key>Name</key>
			<string>Stop 1(Vel 48)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>44</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>48</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>6</integer>
			<key>ID</key>
			<integer>1006</integer>
			<key>Name</key>
			<string>Stop 1(Vel 64)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>44</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>64</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>7</integer>
			<key>ID</key>
			<integer>1007</integer>
			<key>Name</key>
			<string>Stop 1(Vel 80)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>44</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>80</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>8</integer>
			<key>ID</key>
			<integer>1008</integer>
			<key>Name</key>
			<string>Stop 1(Vel 96)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>44</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>96</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>9</integer>
			<key>ID</key>
			<integer>1009</integer>
			<key>Name</key>
			<string>Stop 1(Vel 112)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>44</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>112</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>10</integer>
			<key>ID</key>
			<integer>1010</integer>
			<key>Name</key>
			<string>Stop 1(Vel 127)</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>44</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>127</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>Name</key>
	<string>Stop.plist</string>
</dict>
</plist>
