<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulations</key>
	<array>
		<dict>
			<key>ArticulationID</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1001</integer>
			<key>Name</key>
			<string>IDLE</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>2</integer>
			<key>ID</key>
			<integer>1002</integer>
			<key>Name</key>
			<string>Sustain</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>12</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1003</integer>
			<key>Name</key>
			<string>Mute</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>12</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>50</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>4</integer>
			<key>ID</key>
			<integer>1004</integer>
			<key>Name</key>
			<string>Staccato</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>14</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>5</integer>
			<key>ID</key>
			<integer>1005</integer>
			<key>Name</key>
			<string>Powerchord Sus</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>13</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>64</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>6</integer>
			<key>ID</key>
			<integer>1006</integer>
			<key>Name</key>
			<string>Powerchord Mute</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>13</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>50</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>7</integer>
			<key>ID</key>
			<integer>1007</integer>
			<key>Name</key>
			<string>Powerchord Stac</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>15</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>8</integer>
			<key>ID</key>
			<integer>1008</integer>
			<key>Name</key>
			<string>Choke</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>21</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>9</integer>
			<key>ID</key>
			<integer>1009</integer>
			<key>Name</key>
			<string>Tapping</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>18</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>Name</key>
	<string>Lite.plist</string>
</dict>
</plist>
