<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulations</key>
	<array>
		<dict>
			<key>ArticulationID</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1001</integer>
			<key>Name</key>
			<string>IDLE</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>2</integer>
			<key>ID</key>
			<integer>1002</integer>
			<key>Name</key>
			<string>Note Off</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1003</integer>
			<key>Name</key>
			<string>STRING 1</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>0</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>4</integer>
			<key>ID</key>
			<integer>1004</integer>
			<key>Name</key>
			<string>STRING 2</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>1</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>5</integer>
			<key>ID</key>
			<integer>1005</integer>
			<key>Name</key>
			<string>STRING 3</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>2</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>6</integer>
			<key>ID</key>
			<integer>1006</integer>
			<key>Name</key>
			<string>STRING 4</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>3</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>7</integer>
			<key>ID</key>
			<integer>1007</integer>
			<key>Name</key>
			<string>STRING 5</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>4</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>8</integer>
			<key>ID</key>
			<integer>1008</integer>
			<key>Name</key>
			<string>STRING 6</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>5</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>9</integer>
			<key>ID</key>
			<integer>1009</integer>
			<key>Name</key>
			<string>STRING Reset</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>6</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>10</integer>
			<key>ID</key>
			<integer>1010</integer>
			<key>Name</key>
			<string>TAPPING MODE</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>9</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>11</integer>
			<key>ID</key>
			<integer>1011</integer>
			<key>Name</key>
			<string>SLIDE NOTE</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>29</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>12</integer>
			<key>ID</key>
			<integer>1012</integer>
			<key>Name</key>
			<string>RR RESET</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>11</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>Name</key>
	<string>KeySwitches.plist</string>
</dict>
</plist>
