<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulations</key>
	<array>
		<dict>
			<key>ArticulationID</key>
			<integer>1</integer>
			<key>ID</key>
			<integer>1001</integer>
			<key>Name</key>
			<string>** is Attribute!</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>2</integer>
			<key>ID</key>
			<integer>1002</integer>
			<key>Name</key>
			<string>IDLE</string>
			<key>Output</key>
			<array>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>3</integer>
			<key>ID</key>
			<integer>1003</integer>
			<key>Name</key>
			<string>Norm</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>24</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>4</integer>
			<key>ID</key>
			<integer>1004</integer>
			<key>Name</key>
			<string>Stutter</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>25</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>5</integer>
			<key>ID</key>
			<integer>1005</integer>
			<key>Name</key>
			<string>Cresc</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>26</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>6</integer>
			<key>ID</key>
			<integer>1006</integer>
			<key>Name</key>
			<string>FP</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>27</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>7</integer>
			<key>ID</key>
			<integer>1007</integer>
			<key>Name</key>
			<string>Marc</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>28</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>8</integer>
			<key>ID</key>
			<integer>1008</integer>
			<key>Name</key>
			<string>**Slub</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>29</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>9</integer>
			<key>ID</key>
			<integer>1009</integer>
			<key>Name</key>
			<string>**Bow</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>30</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>10</integer>
			<key>ID</key>
			<integer>1010</integer>
			<key>Name</key>
			<string>**Port</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>31</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>11</integer>
			<key>ID</key>
			<integer>1011</integer>
			<key>Name</key>
			<string>**Fast</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>32</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>12</integer>
			<key>ID</key>
			<integer>1012</integer>
			<key>Name</key>
			<string>2Gracc DN ST</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>33</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>13</integer>
			<key>ID</key>
			<integer>1013</integer>
			<key>Name</key>
			<string>2Gracc DN TS</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>34</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>14</integer>
			<key>ID</key>
			<integer>1014</integer>
			<key>Name</key>
			<string>2Gracc UP ST</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>35</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>15</integer>
			<key>ID</key>
			<integer>1015</integer>
			<key>Name</key>
			<string>2Gracc UP TS</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>36</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>16</integer>
			<key>ID</key>
			<integer>1016</integer>
			<key>Name</key>
			<string>Gracc DN S</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>37</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>17</integer>
			<key>ID</key>
			<integer>1017</integer>
			<key>Name</key>
			<string>Gracc DN T</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>38</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>18</integer>
			<key>ID</key>
			<integer>1018</integer>
			<key>Name</key>
			<string>Gracc UP S</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>39</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>19</integer>
			<key>ID</key>
			<integer>1019</integer>
			<key>Name</key>
			<string>Gracc UP T</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>40</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>20</integer>
			<key>ID</key>
			<integer>1020</integer>
			<key>Name</key>
			<string>Octave Up</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>41</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>21</integer>
			<key>ID</key>
			<integer>1021</integer>
			<key>Name</key>
			<string>Pizzicato</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>42</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>22</integer>
			<key>ID</key>
			<integer>1022</integer>
			<key>Name</key>
			<string>Spiccato</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>43</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>23</integer>
			<key>ID</key>
			<integer>1023</integer>
			<key>Name</key>
			<string>Stacc-STR</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>44</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>24</integer>
			<key>ID</key>
			<integer>1024</integer>
			<key>Name</key>
			<string>Maj Chord</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>45</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>25</integer>
			<key>ID</key>
			<integer>1025</integer>
			<key>Name</key>
			<string>Min Chord</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>46</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>26</integer>
			<key>ID</key>
			<integer>1026</integer>
			<key>Name</key>
			<string>Harmonics</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>47</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>27</integer>
			<key>ID</key>
			<integer>1027</integer>
			<key>Name</key>
			<string>Tremolo</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>48</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>28</integer>
			<key>ID</key>
			<integer>1028</integer>
			<key>Name</key>
			<string>Trill T</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>49</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
		<dict>
			<key>ArticulationID</key>
			<integer>29</integer>
			<key>ID</key>
			<integer>1029</integer>
			<key>Name</key>
			<string>Trill S</string>
			<key>Output</key>
			<array>
				<dict>
					<key>MB1</key>
					<integer>50</integer>
					<key>Status</key>
					<string>Note On</string>
					<key>ValueLow</key>
					<integer>120</integer>
				</dict>
			</array>
		</dict>
	</array>
	<key>Name</key>
	<string>Main.plist</string>
</dict>
</plist>
